---
import { Image } from "astro:assets";
import { getImageUrl } from "../../pb";
import { Icon } from "astro-icon/components";
const { hero, values } = Astro.props;

const {
    title,
    excerpt,
    expand: { image },
} = hero;
---

<header
    class="container mx-auto relative flex flex-col-reverse py-16 px-4 lg:pt-0 lg:flex-col lg:pb-0"
>
    <div
        class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl mx-auto md:m-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0"
    >
        <svg
            class="absolute left-0 hidden h-full text-amber-50 transform -translate-x-2/4 lg:block"
            viewBox="0 0 100 100"
            fill="currentColor"
            preserveAspectRatio="none slice"
        >
            <path d="M50 0H100L50 100H0L50 0Z"></path>
        </svg>
        <Image
            src={getImageUrl({
                collection: image,
                filename: image.image,
            })}
            class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
            loading="eager"
            decoding="sync"
            alt={image.title}
            widths={[240, 400, 600, 800]}
            sizes={`(max-width: 360px) 240px, (max-width: 500px) 400px, (max-width: 768px) 600px, 800px`}
            inferSize
        />
    </div>
    <div
        class="relative flex flex-col items-start w-full max-w-xl mx-auto md:m-0 lg:px-0 2xl:px-0 lg:max-w-screen-xl"
    >
        <div class="mb-4 lg:my-40 lg:max-w-lg">
            <ul class="flex flex-col sm:flex-row gap-1">
                {
                    values &&
                        values.split(",").map((value: string) => (
                            <li class="inline-flex items-center gap-1 py-1 px-0 mb-2 mr-2 text-sm font-medium rounded-full w-fit">
                               <Icon name="mdi:check-circle" aria-hidden="true" focusable="false" class="text-amber-600"/>
                                {value}
                            </li>
                        ))
                }
            </ul>
            <h2
                class="mb-5 font-sans text-3xl font-bold text-amber-600 tracking-tight sm:text-4xl sm:leading-none"
            >
                {title}
            </h2>
            <p class="pr-5 mb-5 text-base md:text-lg">
                {excerpt}
            </p>
        </div>
    </div>
</header>
