---
interface Card {
    [key: string]: {
        [key: string]: any
    }
}
import ImageComponent from "@components/ImageComponent.astro"
import "@assets/css/card/chess-card.css"
const {cards} = Astro.props
---
<div class="chess-card__grid">
    {cards.map((card: Card) => (
        <article>
            <ImageComponent image={card.expand.image} fixedSize={500} lazy={true} />
            <div>
                <h3>{card.title}</h3>
            </div>
        </article>
    ))}
</div>