.basic-card__grid {
    display: flex;
    flex-flow: column wrap;
    gap: var(--spacing-4);
}

.basic-card__grid>article {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);

    height: max-content;

    padding: var(--spacing-2);

    border: 1px solid var(--clr-neutral-100);
    border-radius: calc(var(--spacing-2) * 2);

    color: var(--clr-neutral-950);
    background-color: var(--clr-neutral-50);
    box-shadow: var(--shadow-sm);
}

.basic-card__grid>article>img {
    width: 100%;
    height: 100%;
    max-height: 15em;

    object-fit: cover;
    object-position: center;

    border-radius: var(--spacing-2);
    overflow: hidden;
}

@media (min-width: 40em) {
    .basic-card__grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--spacing-2);
    }

    .basic-card__grid>article {
        display: grid;
        grid-template-rows: 15em 1fr;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 80em) {
    .basic-card__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: var(--spacing-2);
    }
}